<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/auth/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {{#if user}}
      <li class="nav-item">
          <a class="nav-link" href="#">Manage Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/createTeam">Create Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      {{/if}}
    </ul>
    {{#if user}}
    <div class="form-inline mt-2 mt-md-0">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">View Profile</button>
    </div>
    {{/if}}
  </div>
</nav>