 {{#if success_msg}}
<div class="col-lg-12">
    <div class="alert alert-success">{{success_msg}}</div>
</div>
{{/if}} {{#if error_msg}}
<div class="col-lg-12">
    <div class="alert alert-danger">{{error_msg}}</div>
</div>
{{/if}} {{#if error}}
<div class="col-lg-12">
    <div class="alert alert-danger">{{error}}</div>
</div>
{{/if}}