<style>
    .dropdown-team {
    position: relative;
    display: inline-block;
    background-color: #f9f9f9;
    }
    .dropdown-content-team {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    .dropdown-content-team li{
        cursor:pointer;
        color: #575ed8;
        list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
        text-align: left;

    }
    .dropdown-team:hover .dropdown-content-team {
        display: block;
    }
    .teamName{
        font-size: 18px;
        padding: 10px 20px;
        color: #575ed8;     
    }
    button{
    background: #575ed8;
    color: #fff;
    font-size: 20px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    }
    input{
        padding: 10px 20px;
        box-sizing: border-box;
        background: #eee;
        border: 0;
        display: block;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        font-size: 20px;
    }
    .chat {
        max-width: inherit;
        margin: 30px auto;
        border: 1px solid #ddd;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
    }

    .chat-window {
        height: 400px;
        overflow: auto;
        background: #596879;
    }
    .output p {
        padding: 5px 0px;
        margin: 0 20px;
        color: #fefefe;
    }

    .feedback p {
        color: #F1F227;
        padding: 14px 0px;
        margin: 0 20px;
        font-size: 22px;
    }

    .output you {
        font-weight: bold;
        color: #F1F227;
    }

    .output me {
        font-weight: bold;
        color: #00FFFF;
    }
    .output li {
        list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0;
    }

</style>
<div class="chat">
    <div class="dropdown-team" style="padding-left:87%">
        <h2 class="teamName" id='teamName' ></h2>
        <div class="dropdown-content-team" id='teamsDropdown'>
            <ul id='teams'>
            </ul>
        </div>
    </div>
    <div class="chat-window" id='chat-window'>
        <ul class="output" id='messages' style="padding-left: 0px;padding-top:10px;"></ul>
    </div>
    <input class="message" id='nmessage' type="text" placeholder="Message" onkeydown="isEnter(event)" />
    <button class="send" onclick="sendMessage()">Send</button>
</div>
<script src="/js/home.js"><{{!}}/script>