<form>
    <input type="text" name="teamName">
    <input type="text" name="teamDescription">
    <input type="text" name="_members">
</form>

{{!-- <script>
    $(document).ready(()=> {
        $.getJson('/api/')
    })
</script> --}}