{{#if user}}
<p id="greeting">{{data.firstName}}</p>
{{/if}}
<script>
    $(document).ready(()=>{
        $.getJSON('/api/getProfile', data=>{
            console.log(data.firstName)
            document.getElementById("greeting").innerHTML = data.firstName
        })
    })
</script>