<form method="POST" action="/api/joinTeam">
  <div class="form-group">
    <label for="tname">Team Name</label>
    <input type="team" class="form-control" name="tname" id="tname" aria-describedby="tname" placeholder="Enter team name">
  </div>
  <button type="submit" class="btn btn-primary">Join</button>
</form>
