{{#each data}}
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">{{teamName}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each _members}}
            <tr>
            <td>{{this.username}} {{#isAdmin this._id ../_adminMembers}} {{/isAdmin}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{/each}}
