<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> --}}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/tether.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <title>SmackTalk - {{title}}</title>
</head>
<style>
    body { 
    padding-top: 65px; 
}

</style>
<body>
    {{> nav }}
    <div class="container" style="padding-top:3%;margin:0 3% 0 3%">
        {{> flashmsgs}}
        {{{body}}}  
    </div>
    {{> modal}}
</body>

<script src="/js/profile.js"><{{!}}/script>

</html>